/**/
/**/
/**/
/**/
/* ============= TABLE OF CONTENTS ============= */
/* 01. CSS VARIABLES (COLORS, SPACING, SIZING) */
/* 02. FONT FACES */
/* 03. BASE STYLES (BODY, MAIN, LAYOUT) */
/* 04. TYPOGRAPHY (HEADINGS, TEXT, LABELS) */
/* 05. BUTTONS AND INTERACTIVE ELEMENTS */
/* 06. HEADER AND FOOTER */
/* 07. HOME PAGE ELEMENTS */
/* 08. GEAR PAGE ELEMENTS */
/* 09. DIFFICULTY PAGE ELEMENTS */
/* 10. LOCATIONS PAGE ELEMENTS */
/* 11. ANECDOTE PAGE ELEMENTS */
/* 12. HELPERS */
/* 13. JS STATES */
/**/

/* ============= CSS VARIABLES (COLORS, SPACING, SIZING) ============= */
:root {
  /* COLORS */
  --color-warm-off-white: #fffcf4;
  --color-cool-off-white: #e6eced;
  --color-off-black: #0f0f0f;
  --color-dark-grey: #1a1f28;
  --color-mid-blue-dark: #307ad2;
  --color-mid-blue-light: #4c91e9;
  --color-light-blue-dark: #4f91d7;
  --color-light-blue-light: #66a0e3;
  --color-green-dark: #5a9d37;
  --color-green-light: #5bc755;
  --color-grey-dark: #7c8493;
  --color-grey-light: #9ca3af;

  --color-background: var(--color-warm-off-white);
  --color-text-primary: var(--color-off-black);
  --color-text-secondary: var(--color-cool-off-white);
  --color-accent-1: var(--color-mid-blue-dark);
  --color-accent-1-light: var(--color-light-blue-dark);
  --color-accent-2: var(--color-green-dark);
  --color-accent-3: var(--color-grey-dark);

  /* FONT FAMILIES */
  --font-family-body: "Aleo", sans-serif;
  --font-family-headings: "Montserrat", sans-serif;

  /* FONT SIZES*/
  --font-xsm: 0.75rem;
  --font-sm: 0.875rem;
  --font-med: 1rem;
  --font-lrg: 1.25rem;
  --font-xlrg: 1.5rem;
  --font-2xlrg: 2rem;
  --font-3xlrg: 2.5rem;

  /* SPACING SYSTEM*/
  --space-2xsm: 0.25rem;
  --space-xsm: 0.5rem;
  --space-sm: 0.75rem;
  --space-med: 1rem;
  --space-lrg: 1.5rem;
  --space-xlrg: 2rem;
  --space-2xlrg: 3rem;
  --space-section: 4rem;

  /* BORDER RADIUS (rounded corners) */
  --radius-sm: 0.25rem;
  --radius-med: 0.5rem;
  --radius-lrg: 0.75rem;
  --radius-xlrg: 1rem;

  /* BORDER WIDTHS */
  --border-thin: 1px;
  --border-med: 2px;
  --border-thick: 3px;

  /* COMPONENT SIZING */
  --layout-max-width: 80vw;
  --width-nav-min: 128px;
  --width-hamburger-min: 200px;
  --hero-height-mobile: 570px;
  --hero-height-tablet: 620px;
  --hero-height-desktop: 700px;
  --learn-more__tile-min-height: 280px;
}

/* ============= FONT FACES ============= */
@font-face {
  font-family: "Aleo";
  src: url("../fonts/Aleo/Aleo-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

/* ============= BASE STYLES (BODY, MAIN, LAYOUT) ============= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  background-color: var(--color-background);

  transition: background-color 0.25s ease-in-out;
}

main {
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

section {
  margin-bottom: var(--space-section);
}

/* ============= TYPOGRAPHY (HEADINGS, TEXT, LABELS) ============= */
p,
a,
label {
  font-family: var(--font-family-body);
  font-size: var(--font-med);
  font-weight: 400;
  line-height: 1.625rem;

  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  line-height: 1.25;
  text-align: center;

  color: var(--color-text-primary);
}

h1 {
  font-size: 3rem;
  margin-bottom: var(--space-2xlrg);
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--space-xlrg);
  padding-bottom: var(--space-sm);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: var(--space-sm);
}

p {
  margin-bottom: 0;
}

.header__brand__logo,
.footer__brand__logo {
  font-size: var(--font-2xlrg);
  line-height: 1.25;
  font-weight: 900;
  text-decoration: none;
}

.header__brand__logo,
.footer__nav__link {
  white-space: nowrap;
}

.footer__nav__link,
.header__nav__link {
  font-weight: 600;
  font-size: var(--font-lrg);
}

.underline-green {
  border-bottom: var(--border-med) solid var(--color-accent-2);
}
.underline-blue {
  border-bottom: var(--border-med) solid var(--color-accent-1);
}

.learn-more__tile__arrow__icon {
  font-size: var(--font-2xlrg);
  color: var(--color-text-secondary);
}

/* ============= BUTTONS AND INTERACTIVE ELEMENTS ============= */

/* ============= HEADER AND FOOTER ============= */

header,
footer {
  background-color: var(--color-accent-1);

  a,
  li,
  p {
    color: var(--color-text-secondary);
  }

  li {
    text-align: right;
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  padding: var(--space-lrg);
  position: relative;

  border-bottom: var(--border-thick) solid var(--color-accent-2);
}

.header__nav__toggle-input {
  display: none;
}

.header__nav__toggle-button {
  cursor: pointer;
  font-size: var(--font-2xlrg);
  color: var(--color-text-secondary);
}

.header__nav__toggle-button::before {
  content: "☰";
}

.header__nav__toggle-input:checked + .header__nav__toggle-button::before {
  content: "✕";
}

.header__nav__links {
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;

  margin: 0;

  background-color: var(--color-accent-1);

  padding: var(--space-xlrg) var(--space-lrg) var(--space-xlrg)
    var(--space-2xlrg);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 0.25s ease;
}

.header__nav__toggle-input:checked ~ .header__nav__links {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: var(--space-lrg);

  border-top: var(--border-thick) solid var(--color-accent-2);
}

.footer__nav__links,
.header__nav__links {
  display: flex;
  flex-direction: column;
  gap: var(--space-med);
}

/* ============= HOME PAGE ELEMENTS ============= */

/* Hero Section */
.hero {
  position: relative;
  z-index: 100;

  background-image: url(../images/index/hero-mobile.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  min-height: var(--hero-height-mobile);

  display: flex;
  justify-content: center;

  padding: var(--space-xlrg) var(--space-med);
}

.hero__text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  h1,
  h3 {
    color: var(--color-text-secondary);
  }

  h1 {
    margin-bottom: var(--space-sm);
  }
}

/* Introduction Images */
.introduction-home__text {
  margin-bottom: var(--space-xlrg);
}

.introduction-home__images {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--space-med);
}

.introduction-home__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction-home__image--tall {
  grid-row: span 2;
}

.introduction-home__image--square {
  aspect-ratio: 1 / 1;
}

/* Learn More Tiles */
.learn-more__grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: var(--space-xlrg);
}

.learn-more__tile {
  display: grid;
  grid-template-columns: 80% 20%;
  border-style: solid;
  border-width: var(--border-med);
  min-height: var(--learn-more__tile-min-height);

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.learn-more__tile::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 252, 244, 0.6);
}

.learn-more__tile__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-sm);
  position: relative;
  z-index: 1;

  h3 {
    text-align: left;
  }

  p {
    font-weight: 700;
  }
}

.learn-more__tile__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.learn-more__tile--gear {
  background-image: url(../images/index/tile-gear-mobile.webp);
}

.learn-more__tile--difficulty {
  background-image: url(../images/index/tile-difficulty-mobile.webp);
}

.learn-more__tile--locations {
  background-image: url(../images/index/tile-locations-mobile.webp);
}

.learn-more__tile--anecdote {
  background-image: url(../images/index/tile-anecdote-mobile.webp);
}

/* ============= GEAR PAGE ELEMENTS ============= */

/* ============= DIFFICULTY PAGE ELEMENTS ============= */

/* ============= LOCATIONS PAGE ELEMENTS ============= */

/* ============= ANECDOTE PAGE ELEMENTS ============= */

/* ============= HELPERS ============= */

.fill-dark-blue {
  background-color: var(--color-accent-1);
}

.fill-light-blue {
  background-color: var(--color-accent-1-light);
}

.fill-green {
  background-color: var(--color-accent-2);
}

.fill-grey {
  background-color: var(--color-accent-3);
}

.outline-blue {
  border-color: var(--color-accent-1);
}

.outline-green {
  border-color: var(--color-accent-2);
}

/* ============= JS STATES ============= */
.darkmode {
  --color-background: var(--color-dark-grey);
  --color-text-primary: var(--color-cool-off-white);
  --color-text-secondary: var(--color-off-black);
  --color-accent-1: var(--color-mid-blue-dark);
  --color-accent-1-light: var(--color-light-blue-dark);
  --color-accent-2: var(--color-green-dark);
  --color-accent-3: var(--color-grey-dark);
}
